body 
{
  background-color: #F7FDFF;
  padding: 0 3.5em;
  font-family: Arial, sans-serif;	
  font-size: 14px; 
  text-align: justify;
}

h1
{
 text-align: center;
 color: #173484;
 font-size: 26px;
}

h2
{
 color: #436EE6;
 text-align: left;
 font-size:22px;
}

h3
{
  color: #4759E3;
  text-align: left;
  font-size: 21px;
}

h4
{
  color: #8E9BFE;
  text-align: left;
  font-size: 19px;
}
