body 
{
  background-color: #F7FDFF;
  padding: 0 3.5em;
  font-family: Arial, Helvetica, sans-serif;	
  
}

h1
{
 text-align: center;
 color: #645207;
 padding: 0 10em;
}

h2
{
 color: #8A0831;
 text-align: center;
}
 
